{% extends 'layout/app_layout.html' %}
{% load static %}
{% block content %}

    <div class="col-lg-10 col-md-6 float-center">
        <div class="card shadow mb-4">
          <div class="card-header">
            <h2 class="h5 page-title"><span class="fe fe-layers fe-22 mr-2">&nbsp;Variants</span></h2>
          </div>
          <div class="card-body">
            <form class="needs-validation" novalidate method="POST">
              {% csrf_token %}
             
              <div class="form-row">
                <div class="col-md-6 mb-3">
                    <div class="form-group mb-3">
                        <label for="custom-select">Select Brand</label>
                        <select class="custom-select" id="custom-select" name="brand">
                            {% for brand in brands %}  
                            <option value="{{brand.id}}">{{brand.brand_name}}</option>
                          {% endfor %}  
                        </select>
                      </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group mb-3">
                        <label for="custom-select">Select Product</label>
                        <select class="custom-select" id="custom-select" name="product">
                            {% for product in products %}  
                            <option value="{{product.id}}">{{product.name}}</option>
                          {% endfor %}  
                        </select>
                      </div>
                </div>
            </div>
            <div class="form-row">
                <div class=" col-md-4 mb-3">
                    <label for="Supplier Name">Product Color</label>
                    <input type="text" class="form-control" name="product_color" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div class="invalid-feedback"> Please use a valid email </div>
                    
                </div>
                <div class=" col-md-4 mb-3">
                    <label for="Supplier Name">Product RAM</label>
                    <input type="text" class="form-control" name="ram" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div class="invalid-feedback"> Please use a valid email </div>
                    
                </div>
                <div class=" col-md-4 mb-3">
                    <label for="Supplier Name">Storage</label>
                    <input type="text" class="form-control" name="rom" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div class="invalid-feedback"> Please use a valid email </div>
                    
                </div>
            </div>
            <div class="form-row">
                <div class=" col-md-12 mb-3">
                    <button class="btn btn-primary float-right" type="submit">Submit </button>
                </div>    
            </div>
            </form>
          </div> <!-- /.card-body -->
        </div> <!-- /.card -->
      </div> <!-- /.col -->

{% endblock %}