{% extends 'layout/app_layout.html' %}
{% load static %}
{% block content %}
    
    <div class="col-lg-10 col-md-6 float-center">
        <div class="card shadow mb-4">
          <div class="card-header">
            <h2 class="h5 page-title"><span class="fe fe-home fe-22 mr-2">&nbsp;Branch</span></h2>
          </div>
          <div class="card-body">
            <form class="needs-validation" novalidate method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustomUsername">Branch Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="branch_name" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                   
                  </div>
                </div>

                <div class=" col-md-8 mb-3">
                    <label for="Supplier Name">Discription</label>
                    <input type="text" class="form-control" name="discription" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div class="invalid-feedback"> Please use a valid email </div>
                    
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="validationCustomUsername">Default Username</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="username" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                     
                    </div>
                  </div>
  
                  <div class=" col-md-6 mb-3">
                      <label for="Supplier Name">Default Password</label>
                      
                      <input type="password" name="password" id="">
                    
                      <!-- <input type="password" class="form-control" name="password"   required> -->
                      <div class="invalid-feedback"> Please use a valid email </div>
                      
                    </div>
                    
                  
                </div>
                <div class="form-row">
                  <div class=" col-md-12 mb-3">
                      <button class="btn btn-primary float-right" type="submit">Submit </button>
                  </div>    
              </div>
              </form>
            </form>
          </div> <!-- /.card-body -->
        </div> <!-- /.card -->
      </div> <!-- /.col -->

{% endblock %}