{% extends 'layout/app_layout.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
  </div>
     <div class="col-lg-4">
          <!-- alert message-->
  
          {% for message in messages %}
        
            <div class="alert alert-warning text-center" id="alert" role="alert">
              <p>{{message}}</p>
            </div>

        {% endfor %}
        

  
        <!--end alert message-->
     </div>
     <div class="col-lg-4">
     </div>
</div>
    <div class="col-lg-10 col-md-6 float-center">
        <div class="card shadow mb-4">
          <div class="card-header">
            <h2 class="h5 page-title">&nbsp;&nbsp;&nbsp;<span class="fe fe-user fe-22 mr-2">&nbsp;Add Supplier</span></h2>
          </div>
          <div class="card-body">
            
            <form  id="myForm"  method="POST" >
              {% csrf_token %}
              <div class="form-row">
                <div class=" col-md-8 mb-3">
                  <label for="Supplier Name">* Supplier Name</label>
                  <input class="form-control" id="supplier_name" name="name" type="text" />
                  <p id="message1"></p>
                </div>
              
                <div class="col-md-4 mb-3">
                  <label for="validationCustomUsername">* Brand</label>
                  <div class="input-group">
                    <input class="form-control" id="brand_name" name="brand" type="text" />
                  </div>
                  <p id="message2"></p>
                </div>
               
                
                <div class="col-md-6 mb-3">
                  <label for="validationCustom01">* Phone</label>
                  <input  class="form-control" name="phone" id="phone_number" type="text" >
                  <p id="message3"></p>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationCustom02">* GST/UIN</label>
                  <input  class="form-control" name="gst" id="tax" type="text">  
                  <p id="message4"></p>                
                </div> 
               
              </div>
           
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationCustom03">* State</label>
                  <input   class="form-control" name="state" id="supplier_state" type="text">
                  <p id="message5"></p>
                </div>
               
                <div class="col-md-3 mb-3">
                  <label for="validationCustom05">* code</label>
                  <input  class="form-control" name="code" id="state_code" type="text">
                  <p id="message6"></p>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom05">* email</label>
                  <input class="form-control" name="email"   id="email" type="email">
                  <p id="message7"></p>
                </div>
               
              </div>
              
              <div class="form-group mb-3">
                <label for="validationTextarea">* Address</label>
                <textarea class="form-control"  name="address" id="address" required></textarea>
                <div class="invalid-feedback"> Please enter a address in the textarea.  </div>
                <p id="message8"> </p>
              </div>
              
             
             
              <button class="btn btn-primary float-right" type="submit" id="submit_btn" >Submit </button>
            </form>
          </div> <!-- /.card-body -->
        </div> <!-- /.card -->
      </div> <!-- /.col -->

 <script>
  $(document).ready(function() {
      $("#submit_btn").click(function() { 
          //get input field values
              
          var supplier_name1 = $("#supplier_name").val(); 
          var supplier_brand = $("#brand_name").val(); 
          var phone_number = $("#phone_number").val(); 
          var tax = $("#tax").val(); 
          var state = $("#supplier_state").val();
          var code = $("#state_code").val()
          var email = $("#email").val()
          var address = $("#address").val() 
;     
          var proceed = true;
          if(supplier_name1==""){ 
              $("#supplier_name").css('border-color','red'); 
             
              document.getElementById("message1").innerHTML = "Please fill Supplier Name";
              proceed = false;
          }else{
            $("#supplier_name").css('border-color','green'); 
            
              document.getElementById("message1").innerHTML = "";
          } if(supplier_brand==""){ 
              $("#brand_name").css('border-color','red'); 
             
              document.getElementById("message2").innerHTML = "Please fill Brand";
              proceed = false;
          }else{
            $("#brand_name").css('border-color','green'); 
            
              document.getElementById("message2").innerHTML = "";
          }if(phone_number==""){ 
              $("#phone_number").css('border-color','red'); 
             
              document.getElementById("message3").innerHTML = "Please fill Supplier Phone number";
              proceed = false;
          }else{
            $("#phone_number").css('border-color','green'); 
            
              document.getElementById("message3").innerHTML = "";
          }if(tax==""){ 
              $("#tax").css('border-color','red'); 
             
              document.getElementById("message4").innerHTML = "Please fill GST number";
              proceed = false;
          }else{
            $("#tax").css('border-color','green'); 
            
              document.getElementById("message4").innerHTML = "";
          }if(state==""){ 
              $("#supplier_state").css('border-color','red'); 
             
              document.getElementById("message5").innerHTML = "Please Enter state name";
              proceed = false;
          }else{
            $("#supplier_state").css('border-color','green'); 
            
              document.getElementById("message5").innerHTML = "";
          }if(code==""){ 
              $("#state_code").css('border-color','red'); 
             
              document.getElementById("message6").innerHTML = "Please Enter state code";
              proceed = false;
          }else{
            $("#state_code").css('border-color','green'); 
            
              document.getElementById("message6").innerHTML = "";
          }if(email==""){ 
              $("#email").css('border-color','red'); 
             
              document.getElementById("message7").innerHTML = "Please Enter email ";
              proceed = false;
          }else{
            $("#email").css('border-color','green'); 
            
              document.getElementById("message7").innerHTML = "";
          }if(address==""){ 
              $("#address").css('border-color','red'); 
             
              document.getElementById("message8").innerHTML = "Please Enter Address ";
              proceed = false;
          }else{
            $("#address").css('border-color','green'); 
            
              document.getElementById("message8").innerHTML = "";
          }
          
          
      
        });
    
      });
</script> 


{% endblock %}