{% extends 'layout/app_layout.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
  </div>
     <div class="col-lg-4">
          <!-- alert message-->
  
          {% for message in messages %}
          <div class="alert alert-success text-center" id="alert" role="alert">
            <p>{{message}}</p>
          </div>
          
        {% endfor %}
        

  
        <!--end alert message-->
     </div>
     <div class="col-lg-4">
     </div>
</div>


          <!-- Striped rows -->
          <div class="col-md-12 my-4">   
            <div class="card shadow">
              <div class="card-body">
                <div class="toolbar row mb-3">
                  <div class="col ml-auto">
                
                    <div class="dropdown float-right">
                     
                      <a href="{% url 'add_branch' %}">
                      <button class="btn btn-primary float-right ml-3" type="button"><span class="fe fe-16 fe-home"></span>&nbsp;&nbsp;&nbsp;Add Branch </button></a>
                     
                    </div>
                    <h2 class="h5 page-title"><span class="fe fe-home fe-22 mr-2">&nbsp;Branch</span></h2>
                  </div>
                </div>
                <!-- table -->
                <table class="table table-bordered">
                  <thead>
                    
                    <tr role="row">
                      <th>ID</th>
                        <th>Branch Name</th>
                        <th>Discription</th>
                        <th>Username</th>
                        
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for branch in branches %}
                    <tr>
                      <td>1</td>
                      <td>{{branch.first_name}}</td>
                      <td>{{branch.last_name}}</td>
                      <td>{{branch.username}}</td>
                      
                      <td>
                        <a class="dropdown-item" href="{% url 'edit_branch' branch.id %}"><span class="fe fe-12 fe-edit"></a>
                        <a class="dropdown-item" href="{% url 'delete_branch' branch.id %}"><span class="fe fe-12 fe-trash"></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
{% endblock %}