{% extends 'layout/app_layout.html' %}
{% load static %}
{% block content %}
   
    <div class="col-lg-10 col-md-6 float-center">
        <div class="card shadow mb-4">
          <div class="card-header">
            <h2 class="h5 page-title">&nbsp;&nbsp;&nbsp;<span class="fe fe-user fe-22 mr-2">&nbsp;Edit Supplier</span></h2>
          </div>
          <div class="card-body">
            <form class="needs-validation" novalidate action="/update_supplier/{{supplier.id}}" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class=" col-md-8 mb-3">
                  <label for="Supplier Name">Supplier Name</label>
                  <input type="text" class="form-control" name="supplier_name" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{supplier.supplier_name}}" required>
                  <div class="invalid-feedback"> Please use a valid email </div>
                  
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustomUsername">Brand</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="brand" id="validationCustomUsername" value="{{supplier.brand_name}}" aria-describedby="inputGroupPrepend" required>
                   
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationCustom01">Phone</label>
                  <input type="text" class="form-control" value="{{supplier.supplier_phone}}" name="phone" id="validationCustom01"  required>
                 
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationCustom02">GST/UIN</label>
                  <input type="text" class="form-control" id="validationCustom02" value="{{supplier.gst_uin}}"" name="gst" value="Otto" required>
                  
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationCustom03">State</label>
                  <input type="text" name="state" class="form-control" value="{{supplier.state_name}}" id="validationCustom03" required>
                </div>
                
                <div class="col-md-3 mb-3">
                  <label for="validationCustom05">code</label>
                  <input type="text" class="form-control" name="code" value="{{supplier.code}}" id="validationCustom05" required>
                
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom05">email</label>
                  <input type="email" name="email" class="form-control" value="{{supplier.email}}" id="validationCustom05" required>
                
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="validationTextarea">Address</label>
                <textarea class="form-control" id="validationTextarea" name="address" value=""  required>{{supplier.supplier_address}}</textarea>
               
              </div>
              <button class="btn btn-primary float-right" type="submit">Submit </button>
            </form>
          </div> <!-- /.card-body -->
        </div> <!-- /.card -->
      </div> <!-- /.col -->

{% endblock %}