{% extends 'layout/app_layout.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-4">
  </div>
     <div class="col-lg-4">
          <!-- alert message-->
  
          {% for message in messages %}
          <div class="alert alert-danger text-center" id="alert" role="alert">
            <p>{{message}}</p>
          </div>
          
        {% endfor %}
        

  
        <!--end alert message-->
     </div>
     <div class="col-lg-4">
     </div>
</div>


          <!-- Striped rows -->
          <div class="col-md-12 my-4">   
            <div class="card shadow">
              <div class="card-body">
                <div class="toolbar row mb-3">
                  <div class="col ml-auto">
                    <div class="dropdown float-right">
                      <a href="{% url 'add_product' %}">
                      <button class="btn btn-primary float-right ml-3" type="button"><span class="fe fe-16 fe-aperture"></span>&nbsp;&nbsp;&nbsp;Add Product </button></a>
                     
                    </div>
                    <h2 class="h5 page-title"><span class="fe fe-aperture fe-22 mr-2">&nbsp;Products</span></h2>
                  </div>
                </div>
                <!-- table -->
                <table class="table table-bordered">
                  <thead>
                    
                    <tr role="row">
                      
                      <th>ID</th>
                        <th>Brand NAME</th>
                        <th>PRODUCT</th>
                        <th>COLOR</th>
                        <th>RAM</th>
                        <th>ROM</th>
                        <th>DISCRIPTION</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in products %}
                    <tr>
                     
                      <td>1</td>
                      <td>{{product.brand.brand_name}}</td>
                      <td>{{product.name}}</td>
                      <td>{{product.color}}</td>
                      <td>{{product.ram}}</td>
                      <td>{{product.rom}}</td>
                      <td>{{product.discription}}</td>
                      <td>
                        <a class="dropdown-item" href="/edit_product/{{product.id}}"><span class="fe fe-12 fe-edit"></a>
                        <a class="dropdown-item" href="/delete_product/{{product.id}}"><span class="fe fe-12 fe-trash"></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
{% endblock %}