{% extends 'layout/app_layout.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
  </div>
     <div class="col-lg-4">
          <!-- alert message-->
  
          {% for message in messages %}
        
            <div class="alert alert-warning text-center" id="alert" role="alert">
              <p>{{message}}</p>
            </div>

        {% endfor %}
        

  
        <!--end alert message-->
     </div>
     <div class="col-lg-4">
     </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

         <!-- Striped rows -->
          <div class="col-md-12 my-4">   
            <div class="card shadow">
              <div class="card-body">
                <div class="toolbar row mb-3">
                  <div class="col ml-auto">
                    <div class="dropdown float-right">
                      <a href="{% url 'add_supplier' %}">
                      <button class="btn btn-primary float-right ml-3" type="button"><span class="fe fe-16 fe-user-plus"></span>&nbsp;&nbsp;&nbsp;Add Supplier </button></a>
                     
                    </div>
                    <h2 class="h5 page-title"><span class="fe fe-user fe-22 mr-2">&nbsp;Suppliers</span></h2>
                  </div>
                </div>
                <!-- table -->
                <table class="table table-bordered">
                  <thead>
                    
                    <tr role="row">
                      
                      <th>ID</th>
                        <th>Name</th>
                        <th>Brand</th>
                        
                        <th>Phone</th>
                        <th>GST/UIN</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for supplier in suppliers %}
                    <tr>
                     
                      <td>1</td>
                      <td>{{supplier.supplier_name}}</td>
                      <td>{{supplier.brand_name}}</td>
                    
                      <td>{{supplier.supplier_phone}}</td>
                      <td>{{supplier.gst_uin}}</td>
                      <td>{{supplier.supplier_address}}</td>
                      
                      <td>
                        <a class="dropdown-item" href="{% url 'edit_supplier' supplier.id %}"><div class="p-3"><span class="fe fe-12 fe-edit"></span></div></a>
                        <a class="dropdown-item" href="{% url 'delete_supplier' supplier.id %}"><div class="p-3"><span class="fe fe-12 fe-trash"></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
{% endblock %}