{% extends 'layout/login _base_layout.html' %}
{% load static %}
{% block content %}

        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="POST">
          <br><br><br><br><br><br><br>
          {% csrf_token %}
          <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
            <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
              <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
              </g>
            </svg>
          </a>
          <h1 class="h6 mb-3">Branch Sign in</h1>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="inputEmail" name="username" class="form-control form-control-lg" placeholder="username" required="" autofocus="">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password" required="">
          </div>
      
          

          <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>
           
          <br>
          <!-- alert message-->
    
            {% for message in messages %}
            <div class="alert alert-danger text-center" id="alert" role="alert">
              <p>{{message}}</p>
            </div>
            
          {% endfor %}
  
          <!--end alert message-->
          <p class="mt-5 mb-3 text-muted">© 2020</p>
        </form>
    {% endblock %}